<section id="resume" class="relative min-h-screen flex items-center overflow-hidden">

  <div class="mx-auto w-full max-w-[1300px]">

   <h2 class="text-3xl font-bold mb-8">
        Resume
      </h2>

      <p class="text-mute mb-8 max-w-xl">
        Download my professional resume outlining experience, technical skills, and cybersecurity projects.
      </p>

      <a href="{{ '/assets/HsuShunLae_Resume.pdf' | relative_url }}"
         class="inline-flex items-center gap-3 rounded-xl bg-gradient-to-br from-neonCyan to-neonBlue px-6 py-3 font-semibold text-slate-900 shadow-[0_0_30px_rgba(0,245,255,0.3)] transition hover:-translate-y-1">

        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5"
             fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 3v12m0 0l-4-4m4 4l4-4M4 17h16v4H4z"/>
        </svg>

        Download Resume
      </a>

  </div>
  

</section>
